[package]
name = "indoc"
version = "0.3.4"
authors = ["David Tolnay <dtolnay@gmail.com>"]
license = "MIT OR Apache-2.0"
description = "Indented document literals"
repository = "https://github.com/dtolnay/indoc"
documentation = "https://github.com/dtolnay/indoc"
keywords = ["heredoc", "nowdoc", "multiline", "string", "literal"]
readme = "README.md"
edition = "2018"

[features]
unstable = ["indoc-impl/unstable"]

[dependencies]
indoc-impl = { version = "=0.3.4", path = "impl" }
proc-macro-hack = "0.5.10"

[dev-dependencies]
rustversion = "1.0"
trybuild = "1.0"

[workspace]
members = ["impl", "unindent"]

[badges]
travis-ci = { repository = "dtolnay/indoc" }
